<div class="chat-hed">
  <div class="chat-outline">
    <div class="chat-title">
      <p>hogefuga</P>
    </div>
  </div>
  <div class="chat-exit">
    <div class="chat-exit-button">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>
<div class="chat-main">
  <div class="chat-slide">
    <div class="chat-users">
      <div class="chat-user-name">
        <p>Tom</p>
      </div>
      <div class="chat-user-at">
        <p>2020/04/04(Wed) 12:43:30
      </div>
    </div>
    <div class="chat-text">
      <div class="chat-messege">
        <p>おはよう</p>
      </div>
    </div>
  </div>

  <div class="chat-slide">
    <div class="chat-users">
      <div class="chat-user-name">
        <p>Tom</p>
      </div>
      <div class="chat-user-at">
        <p>2020/04/04(Wed) 12:43:30
      </div>
    </div>
    <div class="chat-text">
      <div class="chat-messege">
        <p>おはよう</p>
      </div>
    </div>
  </div>
</div>
<div class="chat-fot">
  <div class="form">
    <input placeholder="type a message" class="form-text">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input type="submit" value="送信" class="form-send-button">
  </form>
</div>