<div class="chat-slide">
    <div class="chat-users">
      <div class="chat-user-name">
        <%= message.user.name %>
      </div>
      <div class="chat-user-at">
        <%= l message.created_at %>
      </div>
    </div>
    <div class="chat-text">
      <div class="chat-messege">
        <%= message.content %>
      </div>
      <%= image_tag message.image.variant(resize:'500x500'), class: 'message-image' if message.image.attached? %>
    </div>
</div>